@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');


:root {
    --verde-oliva: #556B2F;
    --verde-escuro: #3B4D22;
    --branco: #FFFFFF;
    --off-white: #F4F6F0;
    --texto-escuro: #2F3E1B;
    --cinza-suave: #EAECE6;
    --off-white: #FAF9F6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Forum';
    background-color: var(--off-white);
    color: var(--texto-escuro);
    display: flex;
    
    flex-direction: column;
    min-height: 100vh;
}

/* --- HEADER --- */
.main-header {
    background-color: var(--off-white);
    color: var(--texto-escuro);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.main-header .logo {
    font-size: 35px;
    font-family: 'forum';
    letter-spacing: 2px;


}

.main-header nav {
    display: flex;
    align-items: center;

    gap: 25px;
}

.main-header nav a,
.btn {
    color: var(--texto-escuro);
    text-decoration: none;
    font-family: 'forum';
    font-size: 15px;
    font-weight: bold;
    transition: opacity 0.2s;
}

.main-header nav a:hover {
    opacity: 0.8;
}

.icons a {
    text-decoration: none;
}


/* --- CONTEÚDO DINÂMICO --- */
.content-container {
    flex: 1;
    

    width: 100%;
    margin: 0 auto;
}

/* --- FOOTER --- */

.main-footer h2 {
    font-size: 20px;
}

.main-footer ul li {
    list-style: none;

}

.main-footer ul li a {
    text-decoration: none;
    color: var(--texto-escuro);
}

.main-footer {
    background-color: var(--cinza-suave);
    color: var(--texto-escuro);
    padding: 25px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 40px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.footer-info {
    font-size: 15px;
    font-weight: 500;
}

.footer-socials {
    display: flex;
    gap: 15px;
    align-items: center;
}

.footer-socials span {
    font-size: 18px;
    cursor: pointer;
}

.footer-credits {
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
    opacity: 0.6;
}