<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/css/pagina_produtoDN.css">
<title>Produtos Diurnos e Noturnos</title>
</head>

<body>

<section class="Produtos-Geral">

    <!-- PRODUTOS DIURNOS -->
    <div class="Secao-Diurna">

        <div class="Titulo-Secao">
            <img src="../img/sol.png" alt="Sol">
            <h1>Produtos Diurnos</h1>
        </div>

        <div class="Lista-Produtos">
            <div class="Produto">
                <img src="../img/serum facial branco.png" alt="Sérum Vitamina C">

                <h2>Sérum Vitamina C</h2>
                <p>R$ 130,00</p>
                <button>VER MAIS</button>
            </div>

            <div class="Produto">
                <img src="../img/gel de limpeza facial.png" alt="Gel de limpeza facial">

                <h2>Gel de Limpeza Facial</h2>
                <p>R$ 89,00</p>
                <button>VER MAIS</button>
            </div>

            <div class="Produto">
                <img src="../img/protetor solar.png" alt="Protetor solar">

                <h2>Protetor Solar FPS 50</h2>
                <p>R$ 99,90</p>
                <button>VER MAIS</button>
            </div>

            <div class="Produto">
                <img src="../img/creme hidratante bebe.png" alt="Creme hidratante">
                <h2>Hidratante Facial</h2>
                <p>R$ 149,90</p>
                <button>VER MAIS</button>
            </div>
        </div>
    </div>

    <!-- PRODUTOS NOTURNOS -->
    <div class="Secao-Noturna">

        <div class="Titulo-Secao">
            <img src="../img/lua.png" alt="Lua">
            <h1>Produtos Noturnos</h1>
        </div>

        <div class="Lista-Produtos">
            <div class="Produto">
                <img src="../img/serum retinol noturno.png" alt="Sérum Retinol">
                <h2>Sérum Retinol</h2>
                <p>R$ 90,00</p>
                <button>VER MAIS</button>
            </div>

            <div class="Produto">
                <img src="../img/argiloa.png" alt="Máscara de Argila">

                <h2>Máscara de Argila</h2>
                <p>R$ 80,00</p>
                <button>VER MAIS</button>
            </div>

            <div class="Produto">
                <img src="../img/oleo facial nutritivo.png" alt="Óleo Facial">

                <h2>Óleo Facial</h2>
                <p>R$ 119,00</p>
                <button>VER MAIS</button>
            </div>

            <div class="Produto">
                <img src="../img/argila noturn.jpg" alt="Creme Noturno">
                <h2>Creme Noturno</h2>
                <p>R$ 120,99</p>
                <button>VER MAIS</button>

            </div>
        </div>
    </div>
</section>


</body>
</html>