{% extends 'layout.html' %}
{% block conteudo %}

<link rel="stylesheet" href="/static/css/pagina_login.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet">

<div class="login-wrapper">
    <form class="login" action="/login/logar" method="post">
        <h1>Login</h1>

        <div class="campo">
            <label class="label" for="usuario">Usuário</label>
            <input class="input" type="text" id="usuario" name="usuariologin" placeholder="Digite seu usuário" required>
        </div>

        <div class="campo">
            <label class="label" for="senha">Senha</label>
            <input class="input" type="password" id="senha" name="senhalogin" placeholder="Digite sua senha" required>
        </div>


        <button class="botao-cadastrar" type="submit">ENTRAR</button>

        <p class="cadastro-link">
            Não tem uma conta? <a href="/cadastro">Cadastre-se</a>
        </p>
    </form>
</div>

{% endblock %}