

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/pagina_catalogo.css">
    <title>Catálogo de Produtos</title>
</head>
<body>

    <header class="topo-catalogo">
        <h1>Catálogo</h1>
        <div class="filtros-rapidos">
            <button class="btn-filtro ativo">Todos</button>
        </div>
    </header>

    <main class="conteudo-principal">

        <aside class="barra-lateral">
            <div class="grupo-filtro">
                <h3>Categorias</h3>
                <ul>
                    <li><label><input type="radio" name="categoria"> Limpeza</label></li>
                    <li><label><input type="radio" name="categoria"> Hidratação</label></li>
                    <li><label><input type="radio" name="categoria"> Séruns</label></li>
                    <li><label><input type="radio" name="categoria"> Tratamentos</label></li>
                    <li><label><input type="radio" name="categoria"> Protetor Solar</label></li>
                    <li><label><input type="radio" name="categoria"> Máscaras</label></li>
                    <li><label><input type="radio" name="categoria"> Kits</label></li>
                </ul>
            </div>

            <div class="grupo-filtro">
                <h3>Faixa de preço</h3>
                <input type="range" min="0" max="500" value="500" class="seletor-preco">
                <div class="valores-preco">
                    <span>R$ 0</span>
                    <span>R$ 500</span>
                </div>
            </div>

            <button class="btn-filtrar-lateral">FILTRAR</button>
        </aside>

        <section class="grade-produtos">
            {% for dado in dados%}
            <article class="produto-card">
                {% if dado.categoria == 'diurno'%}
                    <span class="icone-tempo"><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#000000"><path d="M444-768v-144h72v144h-72Zm265 112-54-52 104-102 52 50-102 104Zm59 212v-72h144v72H768ZM444-48v-144h72v144h-72ZM251-658 147-760l54-50 101 101-51 51Zm509 511L659-252l50-50 104 100-53 55ZM48-444v-72h144v72H48Zm152 297-51-53 102-100 25 24 24 25-100 104Zm110-163q-70-70-70-170t70-170q70-70 170-70t170 70q70 70 70 170t-70 170q-70 70-170 70t-170-70Zm289-51q49-49 49-119t-49-119q-49-49-119-49t-119 49q-49 49-49 119t49 119q49 49 119 49t119-49ZM480-480Z"/></svg></span>
                {% else %}
                    <span class="icone-tempo"><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#000000"><path d="M483.11-96q-80.49 0-150.92-30.66-70.42-30.66-122.65-82.88-52.22-52.23-82.88-122.65Q96-402.62 96-483.11 96-623 184-730.5T412-864q-17 99 11.5 188T521-518q67 67 158 95t185 11q-24 138-132.5 227T483.11-96Zm-.11-72q88 0 164-45t115-122q-83-5-158.5-39.5T469-468q-60-60-94-135t-40-159q-77 41-122 116.18-45 75.19-45 162.82 0 131.25 91.88 223.12Q351.75-168 483-168Zm-14-300Z"/></svg></span>
                {% endif%}
                <img src="{{dado.imagem}}" alt="Gel de Limpeza">
                <h2>{{dado.produto}}</h2>
                <p class="preco">R$ {{dado.preco}}</p>
                <a href="/produto/{{ dado.id_produto }}">
                <button class="btn-ver-mais">VER MAIS</button>
                </a>
            </article>
            {% endfor %}
           

        </section>

    </main>



</body>
</html>
