{% extends 'layout.html' %}
{% block conteudo %}

<link rel="stylesheet" href="/static/css/pagina_cadastro.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet">

<div class="cadastro-wrapper">
    <form class="formulario" method="post" action="/cadastro/cadastrar">

        <h1 class="titulo">Cadastro</h1>

        <div class="campo">
            <label class="label" for="nome">Usuário</label>
            <input class="input" type="text" id="nome" name="nome" placeholder="Digite seu Usuário" required>
        </div>

        <div class="campo">
            <label class="label" for="email">E-mail</label>
            <input class="input" type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
        </div>

        <div class="campo">
            <label class="label" for="telefone">Telefone</label>
            <input class="input" type="tel" id="telefone" name="telefone" placeholder="(16) 99999-9999">
        </div>

        <div class="campo">
            <label class="label" for="endereco">Endereço</label>
            <input class="input" type="text" id="endereco" name="endereco" placeholder="Digite seu endereço">
        </div>

        <div class="campo">
            <label class="label" for="senha">Senha</label>
            <input class="input" type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
        </div>

        <div class="campo">
            <label class="label" for="confirmar-senha">Confirmar Senha</label>
            <input class="input" type="password" id="confirmar-senha" name="confirmar-senha" placeholder="Digite novamente" required>
        </div>

        <button class="botao-cadastrar" type="submit">Cadastrar</button>

    </form>
</div>

{% endblock %}