<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/produtos.css">
    <title>Página de Produtos</title>
</head>
<body>
    <section class="produto">
        <div class="foto-produto">
            <img class="foto-grande-produto" src="img_teste1.png" alt="">

            <div class="fotos-produtos">
                <img src="" alt="">
            </div>
        </div>

        <div class="info-produto">
            <h1>Sérum Vitaminas C</h1>
            <p> ✨✨✨✨✨(Avaliações)</p>
            <h2>R$102,90</h2>

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor rem error, illum quibusdam nesciunt veniam exercitationem quia recusandae itaque quos commodi.</p>

            <p>Icon</p>

            <button>Adicionar ao carrinho</button>

        </div>




        
    </section>

    <section class="comentarios">
        <h1>Comentários</h1>

    </section>
</body>
</html>